[user]
  name = Gareth Saxby
  email = garethsaxby@users.noreply.github.com
[core]
  excludesfile = ~/.gitignore_global

# Git Command Behaviours
[push]
  default = current
  followTags = true
[pull]
  rebase = false
[init]
  defaultBranch = main

# Specific Includes not to be stored in Git
[include]
  path = .git_includes/gitconfig
