[user]
  name = Gareth Saxby
  email = garethsaxby@users.noreply.github.com

[credential]
  helper = osxkeychain

[core]
  excludesfile = ~/.gitignore_global

[push]
  default = current
  followTags = true
  
[pull]
  rebase = false
[init]
	templateDir = /Users/gsaxby/.git-template
