# Ignore the nova editor folder
.nova

# Ignoring SSH files
.ssh/private_keys
.ssh/private
.ssh/known_hosts
.ssh/ssh_auth_sock
.ssh/conf.d/*.conf

# Ignore AWS unwanted files
.aws/cli/
.aws/sso/
.aws/credentials
.aws/config

# Ignore neovim plugins
nvim/plugged
nvim/colors
